<div id="skills" class="flex flex-col items-center justify-center h-full font-poppins text-6xl my-44 max-md:my-16 max-md:text-5xl">
    <h1 class="text-center mb-16 font-bold text-indigo-900">
        My <span class="text-teal-500">Skills</span>
    </h1>
    <div class="grid grid-cols-4 justify-items-center align-items-center gap-8 max-md:grid-cols-1 ">
        <skills-card icon="fa-brands fa-wordpress" Skills="WORDPRESS"></skills-card>
        <skills-card icon="fa fa-paint-brush" Skills="TAILWIND"></skills-card>
        <skills-card icon="fa-brands fa-angular" Skills="ANGULAR"></skills-card>
        <skills-card icon="fa-brands fa-react" Skills="REACT"></skills-card>
        <skills-card icon="fa-brands fa-node-js" Skills="NODEJS"></skills-card>
        <skills-card icon="fa-code" Skills="C#"></skills-card>
        <skills-card icon="fa fa-cogs" Skills=".NET"></skills-card>
        <skills-card icon="fa-brands fa-java" Skills="JAVA"></skills-card>
        <skills-card icon="fa fa-cogs" Skills="SPRING BOOT"></skills-card>
        <skills-card icon="fa-brands fa-react" Skills="REACT NATIVE"></skills-card>
        <skills-card icon="fa-database" Skills="SQL SERVER"></skills-card>
        <skills-card icon="fa-database" Skills="MYSQL"></skills-card>
    </div>
</div>