<div id="home" class="h-screen w-full bg-neutral-100 border-b-2 flex items-center justify-around max-md:flex-col-reverse max-md:justify-center max-md:h-fit max-md:w-full max-md:pt-28">
    <div class="font-poppins text-6xl max-md:text-xl max-md:text-center max-md:py-14 max-md:flex max-md:flex-col max-md:justify-center max-md:items-center">
        <h2 class="text-[45px] font-medium max-md:text-3xl">Hello I'm</h2>
        <h1 class="my-5 mb-16"><strong class="text-[84px] max-md:text-4xl">João Guilherme</strong><br><span class="text-indigo-900 text-5xl font-bold max-md:text-3xl">Full Stack <span class="text-teal-500">Developer</span></span></h1>
        <h2 class="text-[45px] font-medium border p-4 rounded-2xl bg-neutral-200 w-fit max-md:text-xl max-md:text-center">Welcome to my Portfolio!</h2>
    </div>
    <div class="pr-12 max-md:flex max-md:items-center max-md:justify-center max-md:pr-0">
        <img src="assets/new-photo.jpg" class="h-[650px] border rounded-full max-md:h-[400px] max-md:w-[300px] max-md:text-center" alt="Foto do Portfolio">
    </div>
</div>
