<header class="h-20 fixed bg-neutral-100 w-full flex items-center justify-between max-md:justify-center max-md:w-full max-md:h-20 max-md:px-4 max-md:py-4 max-md:text-center max-md:items-center ">
    <div>
        <h1 class="text-4xl font-poppins text-indigo-900 p-24 font-extrabold max-md:text-2xl max-md:text-nowrap">
            <span class="text-indigo-900">João  </span><span class="text-teal-500">Guilherme</span>
        </h1>
    </div>
    <div class="font-poppins max-md:hidden">
        <ul class="text-black flex gap-16 text-[22px] p-24">
            <li class="hover:text-slate-400 font-medium"><a href="#home">Home</a></li>
            <li class="hover:text-slate-400 font-medium"><a href="#about">About me</a></li>
            <li class="hover:text-slate-400 font-medium"><a href="#about">Work Experiences</a></li>
            <li class="hover:text-slate-400 font-medium"><a href="#skills">Skills</a></li>
            <li class="hover:text-slate-400 font-medium"><a href="#contact">Contact me</a></li>
        </ul>
    </div>
</header>
