<div id="about" class="h-[600px] w-full bg-indigo-900 flex items-center justify-center font-poppins text-6xl text-neutral-100 flex-col max-md:w-full max-md:h-full ">
    <div class="my-16 flex justify-evenly items-center w-full max-md:flex-col max-md:justify-center max-md:w-fit max-md:h-screen ">
        <div class="max-md:text-xl max-md:text-center max-md:text-wrap max-md:pt-14">
            <h1 class="font-bold  mb-12 max-md:text-5xl">About <span class="text-teal-500">Me</span></h1>
            <p class="text-3xl w-[790px] max-md:text-xl max-md:w-full max-md:text-wrap  max-md:px-4">Currently graduating in Computer Science at PUCPR and striving to become a Full Stack Developer with a focus on JavaScript, C# and their frameworks.</p>
        </div>
        <div class="border-l-2 pl-[95px] max-md:text-xl max-md:border-none max-md:pl-0 max-md:text-center max-md:pt-10 max-md:flex max-md:justify-center max-md:items-center max-md:flex-col">
            <h1 class="font-bold mb-12 max-md:text-4xl">Work <span class="text-teal-500">Experiences</span></h1>
            <div class="flex gap-6 items-center max-md:flex-col"> 
                <img src="assets/logo-faurecia.png" class="rounded-full h-[150px] w-[150px]" alt="Logo da Faurecia">
                <div>
                    <h2 class="text-xl font-bold text-teal-500">2024 - Now</h2>
                    <h2 class="text-2xl font-bold mb-2">FORVIA Faurecia</h2>
                    <p class="text-xl w-[600px] max-md:w-full max-md:flex-wrap max-md:px-4">Internship in the IT department, working with the development of web applications using C# and Angular.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex mt-10 gap-6 max-md:pb-14 max-md:text-5xl">
        <a href="https://www.linkedin.com/in/joão-guilherme-machado-palma-196a3a2b8/" target="_blank"><i class="fa-brands fa-linkedin text-teal-500"></i></a>
        <a href="https://github.com/JoaoGuilhermeMP" target="_blank"><i class="fa-brands fa-square-github text-teal-500"></i></a>
        <a href="https://www.instagram.com/_joaoo.guilherme/" target="_blank"><i class="fa-brands fa-square-instagram text-teal-500"></i></a>
    </div>
</div>

